body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: #2f3742;
    color: dodgerblue;
    font-family: 'Warnes',cursive;

}
.header {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    background: black;
    block-size: border-box;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}
.header-baner {
    display: flex;
    height: 70px;
}
.logo-1 {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    animation: glow;
}
.navbar {
    margin: 0 10px;
    padding-right: 0;
    border: 0;
    outline: 0;
}
.landing {
    display: flex;
    margin: 0;
    list-style-type: none;
}

.landing_sir {
    padding-right: 400px;
    margin:0 10px;
    font-size: 40px;
    animation: glow 1s ease-in-out infinite alternate;
}

.landing_item {
    margin: auto;
    padding-right: 20px;
    font-size: 28px;
    font-family: Impact, fantasy;
}

.a-head {
    text-decoration: none;
    color: #60e7ec;
}

.landing-form {
    margin: 10px auto;
    margin-left: 10px ;
    border: 3px solid #082cda;
    border-radius: 30px;
    background-color: #20e7e0;
    font-size: 20px;
    color: #0745b8;
    font-family: Impact, fantasy;
}
.a-head-form {
    display: flex;
    padding:8px 20px;


}
@keyframes glow {
    from {
        text-shadow: 0 0 5px #082cda, 0 0 10px #0840da, 0 0 15px #0844da, 0 0 20px #0840da, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0840da, 0 0 40px #0840da, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
    }
}
@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap');

